/* FULL HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
    margin: 0 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

:root {
    --main-color: rgb(0, 164, 153);
    --color-font: rgb(65, 64, 66);
    --background-color-footer: rgba(64, 65, 66, 0.05);
    --color-form: rgba(225, 225, 225);
    /* cho tieu de */
    --Noto-sans: 'Noto Sans', sans-serif;
    /* cho content */
    --Noto-serif: 'Noto Serif', serif;
}

.title {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: var(--Noto-serif);
}

.title a {
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 0.5rem 4rem;
    border-radius: 15rem;
    margin-bottom: 4rem;
    color: var(--color-font);
}

.title:hover a {
    color: var(--color-font);
}

form {
    color: var(--color-form);
}

.section {
    margin: 7rem 0;
}

/* FULL HTML */