/* skincare */
.skincare .content {
    text-align: center;
    margin-top: 2rem;
    font-family: var(--Noto-serif);
    font-size: 1.25rem;
}

/* skincare */

/* brand */
.brands .row-option {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands .col-option {
    width: 15rem;
    margin: 3rem 0;
}

/* brands */